<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
    <h1>Footballers</h1>
    </div>
    <h1 class=""><a th:href="@{/infos}">Add Information</a></h1>
    <br>
    <h1 class=""><a th:href="@{/players}">Add Player</a></h1>
    <h1 class=""><a th:href="@{/teams}">Add Team</a></h1>
    <h1 class=""><a th:href="@{/players}">Players</a></h1>
</div>
</body>
</html>