<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/teams/}" th:object="${team}" method="post">
                <label for="nameOfTeam">Клуб</label>
                <input type="text" id="nameOfTeam" name="nameOfTeam" th:field="*{nameOfTeam}"
                       class="form-control" placeholder=""/>
                <label for="league">Лига</label>
                <input type="text" id="league" name="league" th:field="*{league}"
                       class="form-control" placeholder=""/>
                <br/>
                <button type="submit" class="btn btn-primary">Сохранить</button>

            </form>

        </div>

    </div>
</div>
</body>
</html>